{# roles/webserver/templates/vhost.conf.j2 — RH358 #}
<VirtualHost *:80>
    ServerName {{ web_server_name }}
    RewriteEngine On
    RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=301,L]
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ web_server_name }}
    DocumentRoot {{ web_document_root }}

    SSLEngine on
    SSLCertificateFile    /etc/pki/tls/certs/lab.crt
    SSLCertificateKeyFile /etc/pki/tls/private/lab.key

    <Directory {{ web_document_root }}>
        Options -Indexes +FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog  /var/log/httpd/lab_error.log
    CustomLog /var/log/httpd/lab_access.log combined
</VirtualHost>
